@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 56% 92%; /* light-beige */
    --foreground: 20 14% 4%;
    --card: 39 50% 90%;
    --card-foreground: 20 14% 4%;
    --popover: 39 50% 90%;
    --popover-foreground: 20 14% 4%;
    --primary: 123 48% 39%; /* forest-green */
    --primary-foreground: 40 100% 98%;
    --secondary: 123 20% 65%;
    --secondary-foreground: 20 14% 4%;
    --muted: 123 15% 85%;
    --muted-foreground: 20 10% 35%;
    --accent: 25 100% 41%; /* earthy-orange */
    --accent-foreground: 40 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 123 20% 75%;
    --input: 123 20% 75%;
    --ring: 123 48% 39%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 40 100% 98%;
    --card: 20 14% 6%;
    --card-foreground: 40 100% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 40 100% 98%;
    --primary: 123 40% 55%;
    --primary-foreground: 20 14% 4%;
    --secondary: 123 20% 25%;
    --secondary-foreground: 40 100% 98%;
    --muted: 123 10% 20%;
    --muted-foreground: 40 5% 65%;
    --accent: 25 90% 55%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 123 10% 25%;
    --input: 123 10% 25%;
    --ring: 123 40% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
